@charset "utf-8";
body{
  font-size: 20px;
  font-family: cursive;
}

h1{
  font-size: 24px;
  text-align: center;
}

.container{
  width: 330px;
  margin: 20px auto;
}
.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.container li{
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  margin: 0 5px 10px;
  border: solid 3px #ddd;
  box-sizing: border-box;
}
.container div{
  text-align: right;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
}